extends ../layout

block content
  .container
    if post.id
      h1.page-header 글수정
    else
      h1.page-header 글쓰기

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      //- .form-group
      //-   label(for='password') Password
      //-   input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='title') Title
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='content') Content
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= post.content
      .form-group
        label(for='person') 예약 가능 인원
        select.form-control(name="person", id="person")
          option 1명
          option 2명
          option 3명
          option 4명
          option 5명
          option 6명
          option 7명
          option 8명

        .form-group
        label(for='nation') 국가 선택
        select.form-control(name='nation', id='nation')
          option Afghanistan 
          option Albania 
          option Algeria 
          option Andorra 
          option Angola 
          option Antigua and Barbuda 
          option Argentina 
          option Armenia 
          option Australia 
          option Austria 
          option Azerbaijan 
          option Bahamas 
          option Bahrain 
          option Bangladesh 
          option Barbados 
          option Belarus 
          option Belgium 
          option Belize
          option Benin 
          option Bhutan 
          option Bolivia 
          option Bosnia and Herzegovina 
          option Botswana 
          option Brazil 
          option Brunei 
          option Bulgaria 
          option Burkina Faso 
          option Burundi 
          option Cambodia 
          option Cameroon 
          option Canada 
          option Cape Verde 
          option Central African Republic 
          option Chad 
          option Chile 
          option China 
          option Colombi 
          option Comoros 
          option Congo (Brazzaville) 
          option Congo 
          option Costa Rica 
          option Cote d'option Ivoioption re 
          option Croat  ia   
          option Cuba
          option Cyprus 
          option Czech Republic 
          option Denmark 
          option Djibouti 
          option Dominica 
          option Dominican Republic 
          option East Timor (Timor Timur) 
          option Ecuador 
          option Egypt 
          option El Salvador 
          option Equatorial Guinea 
          option Eritrea 
          option Estonia 
          option Ethiopia 
          option Fiji 
          option Finland 
          option France 
          option Gabon 
          option Gambia The 
          option Georgia 
          option Germany 
          option Ghana 
          option Greece 
          option Grenada 
          option Guatemala 
          option Guinea 
          option Guinea-Bissau 
          option Guyana 
          option Haiti 
          option Honduras 
          option Hungary 
          option Iceland 
          option India 
          option Indonesia 
          option Iran 
          option Iraq 
          option Ireland 
          option Israel 
          option Italy 
          option Jamaica 
          option optionJapan 
          option Jordan 
          option Kazakhstan 
          option Kenya 
          option Kiribati 
          option Korea North 
          option Korea South 
          option Kuwait 
          option Kyrgyzstan 
          option Laos 
          option Latvia 
          option Lebanon 
          option Lesotho 
          option Liberia 
          option Libya 
          option Liechtenstein 
          option Lithuania 
          option Luxembourg 
          option Macedonia 
          option Madagascar 
          option Malawi 
          option Malaysia 
          option Maldives 
          option Mali 
          option Malta 
          option Marshall Islands 
          option Mauritania 
          option Mauritius 
          option Mexico
          option Micronesia 
          option Moldova 
          option Monaco 
          option Mongolia 
          option Morocco 
          option Mozambique 
          option Myanmar 
          option Namibia
          option Nauru 
          option Nepa 
          option Netherlands 
          option New Zealand 
          option Nicaragua 
          option Niger 
          option Nigeria 
          option Norway 
          option Oman 
          option Pakistan 
          option Palau 
          option Panama 
          option Papua New Guinea 
          option Paraguay 
          option Peru
          option Philippines 
          option Poland 
          option Portugal 
          option Qatar 
          option Romania 
          option Russia 
          option Rwanda 
          option Saint Kitts and Nevis 
          option Saint Lucia 
          option Saint Vincent 
          option Samoa 
          option San Marino 
          option Sao Tome and Principe 
          option Saudi Arabia Senegal 
          option Serbia and Montenegro 
          option Seychelles 
          option Sierra Leone 
          option Singapore 
          option Slovakia 
          option Slovenia 
          option Solomon Islands 
          option Somalia 
          option South Africa 
          option Spain 
          option Sri Lanka 
          option Sudan 
          option Suriname 
          option Swaziland 
          option Sweden 
          option Switzerland 
          option Syria 
          option Taiwan 
          option Tajikistan 
          option Tanzania 
          option Thailand 
          option Togo 
          option Tonga 
          option Trinidad and Tobago 
          option Tunisia 
          option Turkey 
          option Turkmenistan 
          option Tuvalu 
          option Uganda 
          option Ukraine 
          option United Arab Emirates 
          option United Kingdom 
          option United States 
          option Uruguay 
          option Uzbekistan 
          option Vanuatu 
          option Vatican City 
          option Venezuela 
          option Vietnam 
          option Yemen 
          option Zambia 
          option Zimbabwe
      .form-group
        label(for='city') 도시 및 상세 주소
        input.form-control(type='city', id='city', name='city', placeholder='도시 및 상세 주소')
      .form-group
        label(for='money') 숙소 요금
        input.form-control(type='money', id='money', name='money', placeholder='숙소 요금')
      .form-group
        label(for='convenience') 주변 편의 시설
        input.form-control(type='convenience', id='convenience', name='convenience', placeholder='편의 시설')
      .form-group
        label(for='rule') 이용 규칙
        input.form-control(type='rule', id='rule',rows='4' name='rule', placeholder='이용 규칙')
      
          
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
